<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<include file="$(find simulation_environment)/launch/3DNavigation.launch"/>
	<node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
		<param name="scan"               value="scan"/>
		<param name="odom_frame"         value="odom_link"/>
		<param name="base_frame"         value="link_chassis"/>
	</node>
</launch>
